.header{
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p.title{
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 40px;
    color: #FFF;
    font-weight: bold;
}