*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



/*Layout grid*/
.content{
    display: grid;
    margin: 0px;
    grid-template-columns: 140px 1fr 140px;
    grid-template-rows: 
        100px
        90px
        1fr
        100px
    ;
    grid-template-areas:
        "logo header nav"
        "intro intro intro"
        "content content content"
        "footer footer footer"
    ;
    height: 100vh;
}

.logo{
    grid-area: logo;
}

.header{
    grid-area: header;
}

.navbar{
    grid-area: nav;
}

.intro{
    grid-area: intro;
}

.container-fluid{
    grid-area: content;
}

.footer{
    grid-area: footer;
}

.logo{
    display: flex;
    background-color: #e7883e;
}

.logo img{
    width: 100%;
    height: 100%;

}

.header{
    display: flex;
    background-color: #e7883e;
    height: 100%;
    justify-content: center;
    font-family: "Playfair Display";
}
.header > .navbar-brand{
    text-decoration: none;
    color: #FFF;
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
}

/*nav-routes*/
.navbar{
    background-color: #e7883e;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*CONTEUDO / CONTAINER FLUID*/

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;

}

.introduction{
    max-width: 450px;
    font-family: "Slabo";
    color: #FFF;
    text-align: center;
    margin-bottom: 50px;
    background-color: #f38734;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 
        0 5px 43px 0 rgba(0,0,0,0.2),
        0 2px 49px 0 rgba(0,0,0,0.06);
}

.title-box{
    margin-bottom: 50px ;
}
.btn{
    background-color: #e7883e;
    color: #FFF;
}
.card{
    width: 20rem
}

@media(max-width: 1050px){
    .intro{
        display: flex;
        justify-content: center;
        
    }
    
}

@media(max-width: 690px){
    .container-fluid > .row > .col{
        display: flex;
        justify-content: center;
    }

    
}