*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

title{
    display: none;
}


.content{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 
        100px
        60px
        1fr
    ;
    grid-template-areas: 
        "logo nav"
        "navbar-routes navbar-routes"
        "container container"
    ;
    height: 100vh;
}

aside.logo{
    grid-area: logo;
}

header.navbar{
    grid-area: nav;
}

nav.navbar-routes{
    grid-area: navbar-routes;
    background-color: #e7883e;
}

div.container-fluid{
    grid-area: container;
    
}

/*Logo*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7883e;
}

.logo img{
    width: 100%;
    height: 100%;
}

/*navbar*/
.navbar{
    display: flex;
    background-color: #e7883e;
    height: 100%;
    
    font-family: "Playfair Display";
}
.navbar > .navbar-brand{
    text-decoration: none;
    color: #FFF;
    
    margin-top: 22px;
    font-size: 32px;
    font-weight: bold;
}

/*nav-routes*/
.navbar-routes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-routes > .navbar-container{
    display: flex;
    width: 55%;
    padding:0;
    justify-content: space-around;
    list-style: none;
}

.navbar-routes > .navbar-container > li > a{
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    transition: opacity ease-in-out 100ms;
    font-family: "Roboto";
}

.navbar-routes > .navbar-container > li > a:hover{
    opacity: calc(0.6);
}

@media(max-width:650px){
    .navbar-routes > .navbar-container{
        display: flex;
        width: 80%;
        justify-content: space-around;
        list-style: none;
    }  
}


/*content/forms*/
.container-fluid{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.container-fluid > form{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    width: 90%;
    padding:30px;
    border-radius: 15px;
    box-shadow: 
        0 5px 43px 0 rgba(0,0,0,0.2),
        0 2px 49px 0 rgba(0,0,0,0.06);
}


@media(min-width: 700px){
    .container-fluid > form{
        display: flex;
        flex-direction: column;
        width: 75%;
        background-color: #ebebeb;
    }
}

@media(min-width: 1050px){
    .container-fluid > form{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: #ebebeb;
    }
}

.container-fluid > form .btn{
    background-color: #e7883e;
    color: #FFF;
}

