.footer{
    background-color:#ebebeb;
    height: 100%;
    box-shadow: var(--shadow);
}
.footer .row{
    display: flex;
    width: 100%;
}

img{
    height: 100%;
    width: 80%;
}

.col{
    margin-left: 15px;
    margin-top: 25px;
}

.col ul{
    list-style-type: none;
}

.col .footer-link{
    text-decoration: none;
    color: black;
    transition: opacity ease-in-out 100ms
}


.col .footer-link:hover{
    opacity: calc(0.6);
}