
/*
    contexto global: o que for definido aqui será de 
    possível acesso em todo o documento
*/
:root{
    /*
        variáveis em css: modelos padrões que podem ser requisitados no documento
    */
    --nav-height: 70px;
    --menu-top-height: 100px;
    --header-height:100px;
    --aside-width: 150px;
    --headerh-checkpoint: 130px;
    --footer-height:350px;
    --shadow: 
        0 5px 43px 0 rgba(0,0,0,0.2),
        0 2px 49px 0 rgba(0,0,0,0.06)
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/* Layout grid */

.app{
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        var(--nav-height)
        1fr
        var(--footer-height)
    ;
    grid-template-areas: 
        "logo header"
        "nav nav"
        "content content"
        "footer footer"
    ;
    height: 100vh;
}

aside.logo{
    grid-area: logo;
}

nav.navbar{
    grid-area: nav;
}

header.header-content{
    grid-area: header;
}

main.content{
    grid-area: content;
}

footer.footer{
    grid-area: footer;
}

/*
    Associar cada área do grid ao componente
    Divisão feita em forma de "matriz"
*/
@media(max-width: 650px){
    .app{
        margin: 0px;
        display: grid;
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-rows: 
            var(--headerh-checkpoint)
            var(--nav-height)
            1fr
            var(--footer-height)
        ;
        grid-template-areas: 
            "logo header"
            "nav nav"
            "content content"
            "footer footer"
        ;
        height: 100vh;
    }
}
