.container-fluid{
    display: flex;
    background-color: #f8a813;
    align-items: center;
    margin:0;
    padding: 0;
    justify-content: space-between;

}

.container-fluid > .title{
    align-items: center;
}

.container-fluid > .title > .main-title{
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: bold;
    color:#ffffff;
    margin: 0;
}

.container-fluid > .title > .description{
    color:#ffffff;
    font-family: "Slabo";
    font-size: 22px;
}

.container-fluid > nav > .container-fluid > .collapse{
    margin-right: 15px;
}

.container-fluid > nav  ul.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 100%;
    margin-right: 20px;
    
}

.container-fluid > nav  ul.navbar-nav > li{
    font-family: "Slabo";
    font-weight: 500;
    color:#ffffff
}