.header{
    display: flex;
    
}

.header .container-fluid{
    background-color: #e7883e;
    width: 100%;
    align-items: center;
    margin:0;
    padding: 0;
    justify-content: space-between;

}

.header .container-fluid > .title{
    align-items: center;
}

.header .container-fluid > .title > .main-title{
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: bold;
    color:#ffffff;
    margin: 0;
}

.header .container-fluid > .title > .description{
    color:#ffffff;
    font-family: "Slabo";
    font-size: 22px;
}

