.nav{
    background-color: #f8a813;
    display: flex;
    align-items: center;
}

nav > .title{
    align-items: center;
}

nav > .title > .main-title{
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: bold;
    color:#ffffff;
    margin: 0;
}

nav > .title > .description{
    color:#ffffff;
    font-family: "Slabo";
    font-size: 22px;
}