.container-fluid {
    display: flex;
}

.container-fluid > .navbar{
    
    box-shadow: var(--shadow);
}



.navbar ul.navbar-nav > li{
    font-family: "Slabo";
    font-weight: 500;
}