:root{
  --color-background: #FFAE00;
  --colorpink-logo: #FFC4D8;
  --logonav-width: 7em;
  --last-column: 7em;
  --header-height: 100px;
  --footer-height: 300px;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.container > .app{
  display: grid;
  grid-template-columns: var(--logonav-width) 1fr var(--last-column);
  grid-template-rows: 
    var(--header-height)
    1fr
    var(--footer-height)
  ;
}

.container > header{
  grid-area: header;
}

.container > aside{
  grid-area: logo;
}

.container > main{
  grid-area: body;
}

.container > footer{
  grid-area: footer;
}