:root{
    --orange-color: #e7883e;
    --gray-color: #ebebeb;
    --nav-height: 70px;
    --menu-top-height: 100px;
    --header-height:100px;
    --aside-width: 150px;
    --headerh-checkpoint: 130px;
    --footer-height:350px;
    --shadow: 
        0 5px 43px 0 rgba(0,0,0,0.2),
        0 2px 49px 0 rgba(0,0,0,0.06)
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

/* Layout grid */

.app{
    margin: 0px;
    display: grid;
    height: 100vh;
}



